:root {
    --grass-colour: #006000;
    --window-colour: #112233;
    --window-margin: 5px;
    --backdrop-filter: var(--backdrop-filter-blur);
    --backdrop-filter-blur: blur(5px);
    --panelAnimationDuration: 0.1s;
    --statusBarHeight: 35px;
}

* {
    /* outline: 1px solid #ffffff40; */
    box-sizing: border-box;
    user-select: none;
    transition: all 0.2s ease-in-out;
    interpolate-size: allow-keywords;

    &:disabled {
        cursor: not-allowed;
    }

    .hidden {
        display: none !important;
    }
}

html {
    overflow: hidden;
    overscroll-behavior: none;
    user-select: none;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
    overflow: hidden;
    overscroll-behavior: none;
    color-scheme: light;
    user-select: none;
    transition: none;
}

body.lowPerformanceMode {
    --backdrop-filter: ;
}

body.raceMode {
    #stadiumContainer {
        grid-area: 1 / 2 / 3 / 4 !important;
    }

    .garageContainer,
    .neuralNetworkContainer {
        opacity: 0;
        position: relative;
        translate: 375px 0;
        pointer-events: none;
    }

    .naturalSelectionContainer {

        .inputControlContainer>.option:not(:has(#tickLimit)),
        .statusBoard {
            opacity: 0;
            translate: -100px 0;
            pointer-events: none;
        }
    }

    .miscellaneousContainer {
        grid-area: 1 / 4 / 3 / 5 !important;
    }

    .leaderboardContainer {
        .id {
            display: initial !important;
        }

        .generation {
            display: none !important;
        }
    }

    .tipsContainer {
        .tips {
            opacity: 0.5 !important;
            width: 0 !important;
        }
    }
}

input:invalid,
input:user-invalid {
    background-color: #ff0000a0 !important;
}

.button {
    border: 1px solid var(--buttonColour);
    color: #ffffff;
    background-color: #ffffff20;
    font-weight: bold;
    padding: 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: var(--buttonColour);
        color: #000000;
    }
}

.outline {
    border-radius: 10px;
    outline: 2px solid #ffffff60;
}

.bodyContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--window-colour);
}

.statusBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: var(--statusBarHeight);
    width: 100%;
    background-color: #ffffff20;
    box-shadow: 0 0 5px #ffffff40 inset;
    gap: 10px;

    .fpsContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    #resetSettingsButton {
        --buttonColour: #ff8888;
    }

    #importCar {
        --buttonColour: #8888ff;
    }

    .raceModeContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background-color: #ffffff20;
        padding: 2px 8px;
        border-radius: 5px;
        border: 1px solid #00ff0080;

        display: none;
    }

    .scoring {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #ffffff20;
        padding: 5px;
        border-radius: 5px;
        align-self: flex-start;

        width: 100%;
        flex-grow: 1;
        font-weight: normal;
        font-size: 12px;
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: #ffffff40 #00000040;
        border: 2px solid #ffff88a0;

        display: none;
    }

    .tickSpeedControls {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        &>div {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 5px;

            span {
                white-space: nowrap;
                text-align: right;
            }

            #tickSpeed {
                min-width: 4ch;
            }

            input {
                width: 50px;
                text-align: right;
                background-color: #ffffff20;
                border: none;
                color: #ffffff;
                border-radius: 2px;
                font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
                font-weight: bold;

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }

    }
}

#mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100% - var(--statusBarHeight));
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    isolation: isolate;
    gap: 10px;
    transition: none;

    &>div {
        overflow: hidden;
    }

    .panel {
        position: relative;
        height: 100%;
        min-width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        &>* {
            height: 100%;
        }

        &>.panelToggle {
            appearance: none;
            -webkit-appearance: none;
            height: 40%;
            min-height: max-content;
            padding-block: 20px;
            width: 20px;
            min-width: 20px;
            background-color: #ffffff20;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 5px;
            margin: 0;
            box-shadow: 0 0 5px #ffffff40 inset;

            &:hover {
                background-color: #ffffff40;
            }

            &:hover:checked {
                background-color: #ffffff20;
            }

            &:checked {
                background-color: #ffffff10;
            }

            &::before {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                font-size: 20px;
                transition: all var(--panelAnimationDuration) ease-in-out;
                text-shadow: 0 0.8lh 0 #ffffff, 0 -0.8lh 0 #ffffff;
            }

            &:checked::before {
                scale: -1 1;
            }
        }

        .panelContent {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
            height: 100%;
            width: calc-size(fit-content) fit-content;
            min-height: 0;
            padding: 10px;
            position: relative;
            transition: all var(--panelAnimationDuration) ease-in-out;
        }

        &:not(:has(.panelToggle:checked))>.panelContent {
            pointer-events: none;
            opacity: 0;
        }

        & .window {
            display: flex;
            flex-direction: column;
            margin: var(--window-margin);
            pointer-events: auto;
            background-color: color-mix(in srgb, var(--window-colour), transparent 20%);
            overflow: hidden;
            width: 100%;
            min-height: 0;
            flex: 1 1 0;

            &>summary {
                padding: 10px 15px;
                background-color: #ffffff30;
                cursor: pointer;
                position: relative;
                font-size: 20px;
            }
        }
    }

    .leftPanel {
        flex-direction: row-reverse;

        .panelToggle::before {
            content: ">";
        }

        &:not(:has(.panelToggle:checked))>.panelContent {
            position: absolute;
            top: 0;
            right: 20px;
            translate: -100% 0;
        }
    }

    .rightPanel {
        .panelToggle::before {
            content: "<";
        }

        &:not(:has(.panelToggle:checked))>.panelContent {
            position: absolute;
            top: 0;
            left: 20px;
            translate: 100% 0;
        }
    }

    #stadiumFrame {
        height: 100%;
        min-width: 250px;
        flex-grow: 1;
        flex-shrink: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        isolation: isolate;

        .tutorialText {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 99;
            pointer-events: none;
            font-size: 12px;
            color: #ffffff80;
            font-weight: normal;
            padding: 5px 10px;
        }

        #clearStadiumButton {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            cursor: pointer;
            color: #ffffff;
            font-weight: bold;
            text-shadow: 0 0 5px #000000;
            border: none;
            background-color: #ff6060;
            border-top-left-radius: 5px;
            z-index: 99;
            text-decoration: underline;
            font-size: 12px;

            &:hover {
                background-color: #ff0000;
            }
        }

        &>#stadiumContainer {
            position: absolute;
            z-index: 0;
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            overscroll-behavior: none;
            background-color: var(--grass-colour);
            overflow: hidden;
            isolation: isolate;

            canvas {
                position: absolute;
                cursor: none;
                overscroll-behavior: none;
                touch-action: none;
            }

            #hintCanvas {
                z-index: 10;
            }

            #carCanvas {
                z-index: 5;
            }

            #trackCanvas {
                z-index: 2;
            }
        }
    }

    & .garageWindow {
        &>.garageContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;

            .garageCanvasContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                height: 100%;
                background-color: var(--grass-colour);
                flex-grow: 1;

                #frontText,
                #backText {
                    --padding: 20px;

                    position: absolute;
                    z-index: 1;
                    font-size: 20px;
                    color: #ffffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    overflow: visible;
                    text-wrap: nowrap;
                    width: 0;
                    height: 0;
                    left: 50%;
                }

                #frontText {
                    top: var(--padding);
                }

                #backText {
                    bottom: var(--padding);
                }
            }

            #garageCanvas {
                height: 100%;
            }

            .probeAngleContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2px;
                height: 100%;
                padding: 10px;

                &>#probeAngles {
                    padding-inline: 5px;
                    resize: none;
                    min-width: 55px;
                    max-width: 55px;
                    flex-grow: 1;
                    scrollbar-width: thin;
                    text-align: right;
                    background-color: #ffffff20;
                    border: none;
                    color: #ffffff;
                    border-radius: 2px;
                    font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
                    font-weight: bold;
                }
            }
        }
    }

    & .neuralNetworkWindow {
        &>.neuralNetworkContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 10px;
            gap: 10px;
            flex-grow: 1;

            .title {
                align-self: center;
                text-decoration: solid underline;
                margin-bottom: 10px;
            }

            .inputControlContainer {
                flex-grow: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                gap: 2px;

                label {
                    cursor: help;
                    font-weight: normal;
                }
            }

            .diagramContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin-left: 10px;
                margin-right: 15px;
            }

            #layerContainer {
                --labelTop: -25px;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 30px;
                position: relative;
                margin-top: calc(var(--labelTop) * -1);

                .inputLayerContainer,
                .hiddenLayersContainer,
                .outputLayerContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 0;
                    overflow: visible;
                    height: 100%;
                }

                .hiddenLayersContainer {
                    flex-grow: 1;
                    padding-inline: 35px;
                }

                .layerLabel {
                    top: var(--labelTop);
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 0;
                    text-align: center;
                }

                #hiddenLayers {
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    background-color: #ffffff20;
                    color: #ffffff;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    border: none;
                    border-radius: 5px;
                    resize: none;
                    font-size: 20px;
                    height: 100%;
                    line-height: 30px;
                    overflow: hidden;
                    width: 100%;
                    font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
                    font-weight: bold;

                    &:disabled {
                        background-color: #ffffff40;
                    }
                }
            }
        }
    }

    & .naturalSelectionWindow {
        flex: 0 1 auto;

        &>.naturalSelectionContainer {
            --padding: 10px;
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            height: 100%;
            padding: var(--padding);
            gap: 10px;
            min-height: 0;
            max-height: none;

            .inputControlContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2px;

                .option {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    gap: 10px;

                    input {
                        width: 100px;
                        text-align: right;
                        padding-right: 5px;
                        background-color: #ffffff20;
                        border: none;
                        color: #ffffff;
                        border-radius: 2px;
                        font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
                        font-weight: bold;

                        &::-webkit-inner-spin-button,
                        &::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        &[type=checkbox] {
                            width: initial;
                        }
                    }
                }

                label {
                    cursor: help;
                    font-weight: normal;
                }
            }

            .tickerControlsContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                #tickCounter {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-grow: 1;
                    height: 100%;
                    background-color: #ffffff20;
                    position: relative;
                    overflow: hidden;
                    border-radius: 5px;
                    font-weight: normal;
                    isolation: isolate;

                    &::after {
                        background-color: #00aa0080;
                        content: '';
                        position: absolute;
                        top: 0;
                        left: calc(var(--progress) - 100%);
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .statusBoard {
                flex-grow: 1;
                min-height: 0;
                outline: 2px solid #ffffff20;
                border-radius: 5px;
                background-color: #00000060;

                display: flex;
                flex-direction: column;
                overflow: hidden;

                .header,
                .row {
                    display: grid;
                    grid-template-columns: 1fr 2fr 2fr 2fr;
                    font-weight: normal;
                }

                .header {
                    padding-block: 3px;
                    background-color: #ffffff20;

                    div {
                        text-align: center;
                        position: relative;

                        &:not(:last-child)::after {
                            content: '';
                            position: absolute;
                            top: -50vh;
                            right: 0px;
                            display: block;
                            height: 100vh;
                            width: 1px;
                            background-color: #ffffff20;
                        }
                    }
                }

                .row {
                    padding-block: 2px;

                    div {
                        text-align: right;
                        padding-right: 10px;
                        font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
                    }
                }

                .scroll {
                    overflow-y: auto;
                    direction: rtl;
                    flex: 1 1 0;
                    min-height: 0;
                    position: relative;

                    scroll-snap-type: proximity;
                    /* scrollbar-width: thin; */
                    /* TODO: Implement an actual fix */
                    scrollbar-width: none;
                    scrollbar-color: #ffffff40 #00000040;
                    scrollbar-gutter: stable;

                    * {
                        direction: ltr;
                    }

                    &:not(:has(.row))::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        height: 0;
                        width: 0;
                        overflow: visible;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        content: "No entries yet";
                        text-align: center;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    & .leaderboardWindow {
        flex: 1 1 0;
        min-height: 0;

        &>.leaderboardContainer {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            align-items: stretch;
            height: 100%;
            min-height: 0;
            max-height: none;

            .leaderboardTableContainer {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: hidden;
                width: 100%;
                min-height: 0;
            }

            .id,
            .header>.id,
            .entry>.id {
                display: none;
                text-align: center;
                padding: 0;
            }

            .entry>.id {
                word-break: break-all;
            }

            .header,
            .entry {
                display: grid;
                grid-template-columns: 1fr 1fr 1.5fr 1.2fr 1.5fr 1.5fr;
            }

            .header {
                padding-block: 8px;
                background-color: #ffffff20;

                div {
                    text-align: center;
                    position: relative;
                    cursor: help;

                    &:not(:last-child)::after {
                        content: '';
                        position: absolute;
                        top: -500vh;
                        right: 0px;
                        display: block;
                        height: 1000vh;
                        width: 1px;
                        background-color: #ffffff20;
                        pointer-events: none;
                    }
                }
            }

            .entry {
                padding-block: 5px;

                div {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    cursor: pointer;
                    overflow: visible;
                    text-align: right;
                    padding-right: 10px;
                    font-weight: normal;
                    font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
                    font-size: 14px;
                }

                &.selected {
                    background-color: #f8f8ff;
                    color: #000000;
                }
            }

            .scroll {
                overflow-y: auto;
                direction: rtl;
                flex-grow: 1;
                flex-basis: 0;
                background-color: #00000040;
                min-height: 0;
                position: relative;

                scroll-snap-type: proximity;
                /* scrollbar-width: thin; */
                /* TODO: Implement an actual fix */
                scrollbar-width: none;
                scrollbar-color: #ffffff40 #00000040;
                scrollbar-gutter: stable;

                * {
                    direction: ltr;
                }

                &:not(:has(.entry))::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 0;
                    width: 0;
                    overflow: visible;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    content: "No entries yet";
                    text-align: center;
                    white-space: nowrap;
                }
            }

            .leaderboardBottomBar {
                width: 100%;
                padding: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
            }

            #exportSelectedCarButton {
                --buttonColour: #88ff88;
            }

            #resetLeaderboardButton {
                --buttonColour: #ff8888;
            }
        }
    }

    &>#dragPrompt {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.6);
        color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        pointer-events: none;
    }

    .tipsContainer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1lh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        display: none;

        .tips {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            overflow: scroll;
            scrollbar-width: none;
            pointer-events: none;
            width: 100%;
            scroll-behavior: smooth;
        }

        .tip {
            font-weight: normal;
            text-wrap: nowrap;
        }
    }
}

#carPeeker {
    transition: none;
    z-index: 99;
    pointer-events: none;
    position: absolute;
    background-color: rgba(from var(--carColour, #000000) r g b / 0.8);
    backdrop-filter: var(--backdrop-filter);
    translate: 0 -100%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    text-shadow: 0 0 10px #000000;
    top: -100vh;
    left: -100vw;
    display: none;

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .carPeekerProbeAnglesContainer,
        .carPeekerNeuralNetworkContainer {
            background-color: #00000080;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
}

@keyframes focusHighlight {
    0% {
        box-shadow: 0 0 0 0px #ffeb3b80, 0 0 10px 2px #ffeb3b80;
        outline: 2px solid #ffeb3b;
    }

    70% {
        box-shadow: 0 0 0 10px #ffeb3b40, 0 0 20px 6px #ffeb3b80;
        outline: 2px solid #ffeb3b;
    }

    100% {
        box-shadow: none;
        outline: none;
    }
}

.focus-animate {
    animation: focusHighlight 1s ease-out;
}