:root {
    --grass-colour: #006000;
}

* {
    box-sizing: border-box;
    gap: 10px;
    user-select: none;

    &:disabled {
        cursor: not-allowed;
    }
}

body {
    background-color: #112233;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bodyWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px
}

.outline {
    border-radius: 10px;
    outline: 1px solid white;
}

#whatButton {
    --size: 60px;

    font-size: 40px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ffffff20;
    color: #ffffff;
    border: 5px solid #ffffff;
    cursor: help;
    margin-right: 5px;

    &:hover {
        background-color: #ffffff40;
    }
}

.bodyWrapper:not(:has(#whatButton:hover)) {
    & .whatText {
        display: none;
    }
}

.whatText {
    position: absolute;
    z-index: 99;
    font-size: 60px;
    background-color: #000000a0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>.toolbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &>#canvasContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--grass-colour);

        &>canvas {
            position: absolute;
            cursor: none;
        }

        &>#hintCanvas {
            z-index: 10;
        }

        &>#carCanvas {
            z-index: 5;
        }

        &>#trackCanvas {
            z-index: 2;
        }
    }
}

.sideWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>.garageWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 0;

        &>#garageCanvas {
            background-color: var(--grass-colour);
        }

        &>.probeAngleContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0;
            height: 280px;
            margin: 10px;

            &>#probeAngles {
                padding-inline: 5px;
                resize: none;
                min-width: 55px;
                max-width: 55px;
                flex-grow: 1;
                scrollbar-width: thin;
                text-align: right;
            }
        }
    }

    &>.neuralNetworkWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;

        &>#layerContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 30px;
            margin-bottom: 10px;
            /* background-color: blue; */
            position: relative;

            &>#inputLayer,
            &>#outputLayer {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 0;
                overflow: visible;
            }

            &>#hiddenLayers {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: #ffffff20;
                color: #ffffff;
                text-align: center;
                padding: 0;
                margin: 0;
                border: none;
                border-radius: 5px;
                resize: none;
                font-size: 20px;
                height: 100%;
                line-height: 30px;
                overflow: hidden;

                &:disabled {
                    background-color: #ffffff40;
                }
            }
        }
    }
}